apiVersion: apps/v1
kind: Deployment
metadata:
  name: jovies-app
  labels:
    app: jovies-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: jovies-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  revisionHistoryLimit: 1
  template:
    metadata:
      labels:
        app: jovies-app
    spec:
      containers:
        - name: jovies-app
          image: gitea0213.kro.kr/mayne0213/jovies:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
              protocol: TCP
          env:
            - name: NODE_ENV
              value: production
          resources:
            requests:
              memory: "100Mi"
              cpu: "50m"
            limits:
              memory: "200Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5
      restartPolicy: Always
