apiVersion: v1
kind: Service
metadata:
  labels:
    app: jovies-app
    version: prod
  name: jovies-service
spec:
  type: ClusterIP
  ports:
    - name: "http"
      port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: jovies-app
